{%- comment -%}
  Get post description or generate it from the post content.
{%- endcomment -%}

{%- assign max_length = include.max_length | default: 200 -%}

{%- capture description -%}
{%- if post.description -%}
  {{- post.description -}}
{%- else -%}
  {% comment %}
    Remove the line number of the code snippet.
  {% endcomment %}
  {% assign content = post.content %}

  {% if content contains '<td class="rouge-gutter gl"><pre class="lineno">' %}
    {% assign content = content | replace: '<td class="rouge-gutter gl"><pre class="lineno">', '<!-- <td class="rouge-gutter gl"><pre class="lineno">'%}
    {% assign content = content | replace: '</td><td class="rouge-code">', '</td> --><td class="rouge-code">' %}
  {% endif %}

  {% if content contains '<audio' and content contains '</audio>' %}
    {% assign pre_audio = content | split: '<audio' | first %}
    {% assign post_audio = content | split: '</audio>' | last %}
    {% assign content = pre_audio | append: post_audio %}
  {% endif %}

  {% assign content = content | remove: '&#9654; گوش دادن به این مقاله' | remove: '▶ گوش دادن به این مقاله' | remove: 'گوش دادن به این مقاله' %}
  {% assign content = content | remove: '&#9654; Listen to this article' | remove: '▶ Listen to this article' | remove: 'Listen to this article' %}
  {% assign content = content | remove: '&#9654;' | remove: '▶' %}

  {{- content | markdownify | strip_html | newline_to_br | replace: '<br />', ' ' | strip_newlines -}}
{%- endif -%}
{%- endcapture -%}

{{- description | strip | truncate: max_length | escape -}}
